    <!--页脚部分-->
<div id="footer_wrapper" style="width:100%;position: inherit;" class="col-md-12">
    <footer>
        <ul>
            <li><a href="#">版权信息</a></li>
            <li><a href="#">站点地图</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <p>Copyright ©@(DateTime.Now.Year) AL Blog</p>
    </footer>
</div>
<!--页脚部分结束-->
