

<div id="treemapExample2" class="treemap">
    <!-- 嵌套 ul 元素来表达树状结构 -->
    <ul class="treemap-data hide">
        <li>
            红楼梦
            <ul>
                <li>
                    史
                    <ul>
                        <li>
                            史侯
                            <ul>
                                <li>
                                    (女) 贾母
                                    <ul>
                                        <li>(子) 史鼐</li>
                                        <li>(子) 史鼎</li>
                                        <li>
                                            (子) ?
                                            <ul>
                                                <li>
                                                    (女) 史湘云
                                                    <div><span class="label ">(夫) 卫若兰</span></div>
                                                    <div><span class="label ">(丫) 翠缕/葵官</span></div>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>(子) ？</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    贾
                    <ul>
                        <li>
                            贾演(宁国公)
                            <ul>
                                <li>
                                    (子) 贾代化
                                    <ul>
                                        <li>(子) 贾敷</li>
                                        <li>
                                            (子) 贾敬
                                            <ul>
                                                <li>
                                                    (子) 贾珍
                                                    <div><span class="label ">(妻) 尤氏</span></div>
                                                    <ul>
                                                        <li>
                                                            (子) 贾蓉
                                                            <div><span class="label ">(妻) 秦可卿</span></div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>(女) 贾惜春</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            贾源(荣国公)
                            <ul>
                                <li>
                                    (子) 贾代善
                                    <div><span class="label ">(妻) 贾母</span></div>
                                    <ul>
                                        <li>
                                            (子) 贾赦
                                            <div><span class="label ">(妻) 邢夫人</span></div>
                                            <ul>
                                                <li>
                                                    (子) 贾琏
                                                    <div><span class="label ">(妻) 王熙凤</span></div>
                                                    <ul>
                                                        <li>
                                                            (女) 贾巧姐
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>(子) 贾琮</li>
                                                <li>
                                                    (女) 贾迎春
                                                    <div><span class="label ">(夫) 孙绍祖</span></div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            (子) 贾政
                                            <div><span class="label ">(妻) 王夫人</span></div>
                                            <div><span class="label ">(妾) 赵姨娘</span></div>
                                            <ul>
                                                <li>
                                                    (子) 贾珠
                                                    <div><span class="label ">(妻) 李纨</span></div>
                                                    <ul>
                                                        <li>
                                                            (子) 贾兰
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>(女) 贾元春</li>
                                                <li>(子) 贾宝玉</li>
                                                <li>(女) 贾探春 </li>
                                                <li>(子) 贾环</li>
                                            </ul>
                                        </li>
                                        <li>
                                            (女) 贾敏
                                            <div><span class="label ">(夫) 林如海</span></div>
                                            <ul>
                                                <li>(女) 林黛玉</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    王
                    <ul>
                        <li>
                            王公
                            <ul>
                                <li>
                                    (子) 王夫人之父
                                    <ul>
                                        <li>
                                            (子) 王夫人大哥
                                            <div><span class="">凤姐之父</span></div>
                                        </li>
                                        <li>(子) 王子腾</li>
                                        <li>(女) 王夫人</li>
                                        <li>(女) 薛姨妈</li>
                                        <li>
                                            (连宗) 王成之父
                                            <ul>
                                                <li>
                                                    (子) 王成
                                                    <div><span class="label ">(妻) 刘姥姥</span></div>
                                                    <ul>
                                                        <li>
                                                            (子) 王狗儿
                                                            <ul>
                                                                <li>
                                                                    (子) 王板儿
                                                                    <div><span class="label ">(妻) 巧姐</span></div>
                                                                </li>

                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li data-collapsed="false">
                    薛
                    <ul>
                        <li>
                            (子) ？
                            <ul>
                                <li>
                                    (子) ？
                                    <ul>
                                        <li>
                                            (子) ？
                                            <div><span class="">(妻) 薛姨妈</span></div>
                                            <ul>
                                                <li>
                                                    (子) 薛蟠
                                                    <div><span class="">(妻) 夏金桂</span></div>
                                                </li>
                                                <li>
                                                    (女) 薛宝钗
                                                    <div><span class="">(丫) 莺儿</span></div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div><p><br></p>